Problem Statement:Home Credit Default Risk is about predicting whether someone will repay a loan or not. By analyzing their financial history and other personal details, we can determine if they are a high or low risk for defaulting. This helps lenders decide who to approve for a loan.

In [ ]:
SK_ID_CURR: Unique identifier for each loan application.
TARGET: Indicates if the applicant had payment difficulties (1 = yes, 0 = no).
NAME_CONTRACT_TYPE: Identifies the type of loan contract.
CODE_GENDER: Gender of the applicant.
FLAG_OWN_CAR: Indicates if the applicant owns a car.
FLAG_OWN_REALTY: Indicates if the applicant owns a house or flat.
CNT_CHILDREN: Number of children the applicant has.
AMT_INCOME_TOTAL: Total annual income of the applicant.
AMT_CREDIT: Credit amount of the loan.
AMT_ANNUITY: Annual annuity amount of the loan.
AMT_GOODS_PRICE: For consumer loans, it's the price of the goods for which the loan is given.
NAME_TYPE_SUITE: Who accompanied the client when applying for the loan.
NAME_INCOME_TYPE: Client's income type (e.g., working, pensioner, etc.).
NAME_EDUCATION_TYPE: Highest education level of the client.
NAME_FAMILY_STATUS: Family status of the client.
NAME_HOUSING_TYPE: What type of housing the client lives in.
DAYS_BIRTH: Client's age in days at the time of application.
DAYS_EMPLOYED: How many days before the application the person started current employment.
FLAG_MOBIL: Is there a mobile phone linked to the client.
OCCUPATION_TYPE: Client's occupation.
CNT_FAM_MEMBERS: How many family members the client has.
Bureau Data (bureau.csv):SK_ID_BUREAU: Unique identifier for each credit bureau record.
SK_ID_CURR: Unique identifier for each loan application.
CREDIT_ACTIVE: The status of the credit (e.g., active, closed).
CREDIT_CURRENCY: The currency of the loan.
DAYS_CREDIT: How many days before the application the bureau credit was applied for.
CREDIT_DAY_OVERDUE: Number of days the credit line is overdue.
AMT_CREDIT_MAX_OVERDUE: Maximal amount overdue on the credit.
CNT_CREDIT_PROLONG: Number of prolongations of the credit.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.metrics import confusion_matrix
from scipy.stats import chi2_contingency

In [2]:
data = pd.read_csv("application_train.csv")

In [3]:
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
 data.shape

(307511, 122)

In [5]:
data.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)